<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  

 
 
 <bean id="id1" class="autowirebyname.Address" autowire="byName">
 <property name="aid" value="101"></property>
</bean>
 
 
 <bean id="emp" class="autowirebyname.Employee" >
 <property name="id" value="1001"></property>
 <property name="name" value="rajnikant"></property>
 </bean>
 
 <bean id="ed" class="autowirebyname.EmpDetails">
 <property name="mobile" value="982563589"></property>
 
 </bean>
 
  
</beans>

